<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Mercado Liebre</title>
</head>
<body>

    <header class="main-header">

        <div class="logo-busqueda-cuotas">
            <div class="logo-busqueda">
                <img src= "Images/logo-mercado-liebre.svg" alt ="Logo" class="logo">
            
                <div class="busqueda">
                    <input type="text" placeholder="Buscar productos, marcas" class="barra-busqueda">
                    <button type="submit" class="lupa"><i class="fas fa-search"></i></button>
                </div>
            </div>
    
            <p class="cuotas"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito </p> 
        </div>

        <nav class="lista-header">
            <ul class="lista-izquierda">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <br>
           
            <ul class="lista-derecha">
                <li><a href="/index.html">Crea tu Cuenta <i class="fas fa-credit-card"></i></a></li>  
                <li><a href="/login.html">Ingresa <i class="fas fa-sign-in-alt"></i> </a></li>
                <li><a href="#">Mis Compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
       
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>

    </header>

    <main>
        <form action="/login" method="POST" class="login">
            <div class="login-form">
                <input type="text" name="nombre-usuario" placeholder="Nombre de usuario" class="login-item">
            </div>
    
            <div class="login-form">
                <input type="password" name="password" placeholder="Contraseña" class="login-item">
            </div>
            
            <div class="button">
                <button type="submit" class="boton-login-enviar">Enviar</button>
            </div>
            
        </form>
        
    </main>
    
    <footer>
        <div class="item-footer">
            <article class="info-footer">
                <div class="iconos-footer"><i class="fas fa-credit-card"></i></div>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p class="texto-footer">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </article>

            <article class="info-footer">
                <div class="iconos-footer"> <i class="fas fa-gift"></i> </div>
                <h4>Envío gratis desde $ 2.500 </h4>
                <p class="texto-footer">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </article>

            <article class="info-footer">
                <div class="iconos-footer"> <i class="fas fa-user-shield"></i></div>
                <h4>Seguridad, de principio a fin</h4>
                <p class="texto-footer">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </article>
        </div>
        <article class="info-final">
            Copyright © 1999-2020 MercadoLiebre S.R.L.
        </article>
    </footer>
</body>
</html>